img:hover {
  opacity: 80%;
}
.stdmargin {
  margin: 0.5%;
  padding: 1%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  padding: 1%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 0.5%;
  padding: 1%;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    text-align: center;
  }
  nav .centeranchor {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
nav a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.6rem;
  width: 80px;
  height: 30px;
  color: black;
}
@media (max-width: 500px) {
  nav a {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav a:hover {
  color: #cccccc;
}
body {
  width: 98%;
}
.title-container {
  margin: 0.5%;
  padding: 1%;
}
.title-container img {
  height: 70vh;
  width: 100%;
  margin: 2%;
}
@media (max-width: 500px) {
  .title-container img {
    height: 50vh;
  }
}
.title-container .centertitle {
  font-size: 3rem;
  color: white;
  width: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
}
.title-container .centerbutton {
  position: absolute;
  text-decoration: none;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.title-container .centerbutton:hover {
  opacity: 80%;
}
.artists-container {
  margin: 0.5%;
  padding: 1%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2%;
}
@media (max-width: 500px) {
  .artists-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.artists-container a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.artists-container img {
  height: 200px;
  padding: 2%;
}
.artists-container .bio {
  margin: 0.5%;
  padding: 1%;
  width: 85%;
}
@media (max-width: 500px) {
  .artists-container .bio {
    width: 180%;
  }
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
