body {
  width: 98%;
}
.title-container {
    .stdmargin;

    img {
        height: 70vh;
        width: 100%;
        margin: 2%;
        @media @mobile {
          height: 50vh;
        }
    }
    .centertitle {
        font-size: 3rem;
        color: white;
        width: 40%;
        position: absolute;
        top: 30%;
        left: 50%;
        .flex(row, center, center);
        text-align: center;
        transform: translate(-50%, -50%);
      }

      .centerbutton {
        position: absolute;
        text-decoration: none;
        width: 100px;
        height: 50px;
        top: 50%;
        left: 50%;
        background-color: white;
        .flex(row, center, center);
        border-radius: 10px;
        transform: translate(-50%, -50%);
      }

      .centerbutton:hover {
        opacity: 80%;
    }
    
}

.artists-container {
  .stdmargin;
  width: auto;
  .flex(row, center, flex-start);
  padding: 2%;
  @media @mobile {
    .flex(column, center, center);
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
  }

  img {
    height: 200px;
    padding: 2%;
  }

  .bio {
    .stdmargin;
    width: 85%;
    @media @mobile {
      width: 180%;
    }
  }
 
  .artist {
    .flex(column, center, center);
    width: 40%;
  }
}
